body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.MovieCard {
  border: 1px solid #555;
}

.MovieImage {
  width: 100px;
}

.MovieTitle {
  font-size: 16px;
}

.MovieTypeWrapper {
  border: 1px solid red;
  background: pink;
  border-radius: 6px;
}

.MovieType {
  color: red;
  font-size: 14px;
}
